<div class="text-center mt-3 mb-3">
    <h1>
        Welcome to my inventory
    </h1>
</div>

<div class="row justify-content-center mt-5 mb-5">
    <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm" action="/inventory" method="POST">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <!--end of col-->
                <div class="col mr-sm-2">
                    <input class="form-control form-control-lg form-control-borderless" type="search"
                        name="searchContent" placeholder="Search with keywords...">
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn-lg btn-success" type="submit">Search</button>
                </div>
                <!--end of col-->
            </div>
        </form>
    </div>
    <!--end of col-->
</div>
{{!-- <div class="row justify-content-center">
    <form class="form-inline md-form mr-auto mb-4">
        <input class="form-control mr-sm-4" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div> --}}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Make</th>
            <th>Model</th>
            <th>Trim</th>
            <th>BodyStyle</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Make}}</td>
            <td>{{this.Model}}</td>
            <td>{{this.Trim}}</td>
            <td>{{this.BodyStyle}}</td>
            <td>{{this.Color}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>